.bg-pinky {
    /* background-color: #FCE0DC; */
    background-color: #E9F6FF;
}
    
.rounded {
    border-radius: 20px !important;
}

.content-box {
    position: static;
    width: 100%;
    overflow: hidden;
    clear: both;
}

img.image-ilustrator {
    position: absolute;
    right: 20px;
    bottom: 50px;
    max-width: 450px;
    display: block;
}

.w-100 {
    max-width: 300px;
}

footer {
    background: rgb(198, 232, 255);
    background: linear-gradient(0deg, rgba(198, 232, 255, 1) 0%, rgba(233, 246, 255, 1) 40%, rgba(255, 255, 255, 1) 100%);
}

